.add-service-container {
    display: flex;
    flex-direction: column;
    margin-bottom: -100px;
    padding: 50px 0px;
    margin-top: -50px;
    margin-left: 0px;
    min-height: 100vh;
    width: 100vw;
    background-color: #F2F4FA;
    font-family: 'Inter', sans-serif;
}

.back-button-service {
    position: relative;
    z-index: 20;
    cursor: pointer;
    margin-top: 140px;
    margin-left: 300px;
    display: flex;
    align-items: center;
}

.back-button-service h1 {
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.60);
    font-family: 'Inter';
}
.back-button-service img {
    margin-left: 45px;
    margin-top: -20px;
}

.title-input-service img {
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.title-input-service {
    margin-top: 34px;
    margin-left: 53px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background-color: #EEEEEE;
    border: 1px dashed #ced4da;
}
.title-input-service input {
    font-size: 35px;
    font-family: 'Inter';
    font-weight: 450;
    width: 800px;
    background-color: transparent;
    border: none !important;
    margin-left: 70px;
    margin-top: -10px;
}
.title-input-service input:focus{
    outline: none;
}
main {
    flex-grow: 1;
    padding: 20px;
}

.service-form {
    width: 1000px;
    height: 816px;
    background-color: #fff;
    margin-left: 220px;
    border-radius: 10px;
    padding: 20px; /* Kamu bisa menyesuaikan ini jika mempengaruhi lebar penuh */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Tambahan agar elemen di dalam bisa diatur lebih baik */
}
.description-input {
    margin-top: 100px;
}
.link-input {
    cursor: pointer;
    margin-left: 58px;
    margin-top: -150px;
    width: 573px;
    height: 51px;
    border-radius: 15px;
    padding: 12px;
    background-color: #EEEEEE;
    border: 2px dashed #ced4da;
}
.link-input input {
    color: #007bff;
}
.link-input img {
    margin-left: -7px;
    margin-top: -5px;
    margin-bottom: -27px;
    width: 51px;
    height: 32px;
    cursor: pointer;
}


.line-ds {
    position: absolute; /* Atur posisi absolut agar bisa diatur dalam .service-form */
    top: 145px; /* Letakkan di bagian atas */
    left: 0; /* Biarkan mulai dari tepi kiri */
    width: 100%; /* Pastikan lebar gambar 100% dari kontainer */
    height: auto; /* Jaga rasio aspek gambar */
    z-index: 1; /* Atur z-index agar berada di bawah elemen lain dalam .service-form */
}

.link-input input {
    margin-left: 45px;
    background-color: transparent;
    outline: none; /* Hilangkan border saat fokus */
    border: none; 
}
.description-input textarea {
    margin-left: 60px;
    font-size: 20px;
    margin-top: -40px;
}
textarea {
    min-height: 200px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.char-counter {
    position: absolute;
    top: 350px;
    bottom: 100px;
    right: 30px;
    font-size: 16px;
    color: #888;
}


.btn-action {
    position: relative;
    z-index: 5;
    margin-top: -128px;
    margin-left: 380px;
}
.cancel-btn,
.save-btn {
    width: 120px;
    height: 49px;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #D9D9D9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.save-btn {
    margin-left: 27px;
    background-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    color: #000000;
}