@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'inter', sans-serif;
}

.announcement-container {
    border-radius: 8px;
    padding: 10px;
    height: 10px;
}

.announcement-header {
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-left: -23px;
}

.announcement-placeholder {
    color: #888;
    font-style: italic;
    font-size: 14px;
}